h1,
h2,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: Arial, sans-serif;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}
h1 {
  font-family: "Times New Roman", serif;
}
h2 {
  margin-bottom: 10px;

  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
}
p {
  font-size: 15px;
  line-height: 1.3;
  color: #212121;
}
.bild {
  display: block;
}
#hauptueberschrift {
  font-size: 20px;

  text-decoration: underline;
  text-transform: capitalize;
}
.header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-seite {
  display: flex;
  gap: 15px;

  list-style: none;
}
.nav-seite__link {
  display: block;
  padding: 5px 10px;

  font-weight: 500;
  color: #000;
  text-decoration: none;

  transition: background-color 250ms cubic-bezier(0.23, 1, 0.32, 1);
}
.nav-seite__link:hover {
  background-color: rgb(163, 206, 235);
}
.hero {
  background-image: url(./bilder/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 400px;
}
.hero__container {
  width: 300px;
  padding: 15px 15px;
  margin-left: 100px;

  border-radius: 15px;
  background-color: #fff;
}
.updates__ueberschrift {
  margin-bottom: 20px;
}
.updates-liste {
  display: flex;
  padding: 0 20px;

  list-style: none;
}
.updates-liste__item {
  padding: 20px;

  box-shadow: -1px -1px 2px 0px rgb(141, 141, 141);
}
.updates-liste__item > span {
  text-decoration: underline;
  color: #ff4343;
}
.zitat {
  font-style: italic;
  text-align: center;
  cursor: pointer;
}

.zitat::before {
  content: "\201C";
}
.zitat::after {
  content: "\201D";
}
.zitat::before,
.zitat::after {
  color: #a7a7a7;
  font-size: 30px;
  font-weight: 700;

  transition: color 250ms linear;
}
.zitat:hover::before,
.zitat:hover::after {
  color: #fc4747;
}

.hero-uebermich {
  overflow: hidden;

  text-align: center;
  background-color: rgb(163, 206, 235);
}
.hero-uebermich__bild {
  transform: translate(-100%, 0);
  animation: hero-uebermich-bild 4000ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
    infinite both;
}
@keyframes hero-uebermich-bild {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(700%, 0);
  }
}
.hintergrund__beschreibung {
  width: 50%;
  margin: 0 auto;
}
.hobbys-liste {
  width: 400px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.hobbys-liste__item:nth-child(even) {
  margin-left: 40px;
}
.hobbys-liste__item:not(last-child) {
  margin-bottom: 10px;
}
.antwort__beschreibung {
  width: 700px;
  margin: 0 auto;
  padding: 20px 30px;

  text-align: center;
  border: 1px solid #ccc;
}
.hero-projekte {
  position: relative;

  height: 500px;

  background-image: url(https://fastly.picsum.photos/id/9/5000/3269.jpg?hmac=cZKbaLeduq7rNB8X-bigYO8bvPIWtT-mh8GRXtU3vPc);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-projekte__ueberschrift {
  position: absolute;
  font-size: 55px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}
.projekte {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}
.projekte__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);

  border: 1px solid #ccc;
}
.projekte__item:not(:last-child) {
  margin-right: 10px;
}
.projekte__link {
  margin: 0 auto;

  transition: background-color 250ms linear;
}
.projekte__link > img {
  display: block;
  height: 140px;
}
.projekte__link:hover {
  background-color: #81ffee;
}
.projekte__item > a {
  text-decoration: none;
  text-align: center;
  color: #000;
}
.geplant-liste {
  width: 300px;
  margin: 0 auto;

  list-style: none;
  text-align: center;
}
.geplant-liste__item::before {
  content: "-";
  margin-right: 10px;

  font-size: 20px;
  font-weight: 900;
  color: #ff4343;
}
.kontakt {
  width: 400px;
  margin: 0 auto 10px;

  text-align: center;
  border: 1px dashed #858585;
}
.email__adresse,
.sozialnetzwerke-liste__link {
  color: #000;
}
.email__adresse:hover,
.sozialnetzwerke-liste__link:hover {
  color: #2282ff;
}
.sozialnetzwerke-liste {
  list-style: none;
}
.email__adresse:visited,
.sozialnetzwerke-liste__link:visited {
  color: #3c8b32;
}
.hero-box {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero-box__ueberschrift {
  position: relative;

  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.hero-box__ueberschrift::before,
.hero-box__ueberschrift::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;

  background-color: #b80000;

  transform-origin: center center;
  transform: rotateY(0deg);
}
.hero-box__ueberschrift::before {
  position: absolute;
  top: 5px;
  left: -10px;

  animation: box-bewegung 3000ms linear infinite;
}
.hero-box__ueberschrift::after {
  position: absolute;
  top: 5px;
  right: 10px;

  animation: box-bewegung 4000ms linear infinite;
}

@keyframes box-bewegung {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.lieblingsbild__ueberschrift {
  margin-bottom: 20px;
}
.lieblingsbild__bild {
  display: block;
  margin: 0 auto;
  padding: 20px;

  cursor: pointer;

  transition: outline 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.lieblingsbild__bild:hover {
  outline: 2px double #295a7a;
}
.zitat-box {
  width: 500px;
  margin: 0 auto;

  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  text-align: center;
  border-left: 2px solid #b80000;
}
.grid-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
}
.header-grid {
  grid-area: header;
}
.sidebar-grid {
  grid-area: sidebar;
  padding-left: 20px;
}
.content-grid {
  padding-top: 50px;
  grid-area: content;
}
.footer-grid {
  grid-area: footer;
}
.content-grid__ueberschrift {
  text-align: center;
}
.flex-karten {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.flex-karten__item {
  justify-items: center;
  align-content: center;
  width: 200px;
  height: 200px;
  border-radius: 0;

  animation: karteTransform 2000ms cubic-bezier(0.445, 0.05, 0.55, 0.95)
    alternate infinite;
}
.flex-karten__item:first-child {
  background-color: #3ceb68;
}
.flex-karten__item:nth-child(2) {
  background-color: #d0eb3c;
}
.flex-karten__item:last-child {
  background-color: #eb1717;
}
@keyframes karteTransform {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 100%;
  }
}
.sidebar-beschreibung {
  list-style-type: circle;
  font-size: 12px;
}
