h1,
h2,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
section,
header {
  margin-bottom: 20px;
  padding: 10px 20px;
}
.nav-seite {
  display: flex;

  list-style: none;
}
.nav-seite__item:not(last-child) {
  margin-right: 15px;
}
.nav-seite__link {
  padding: 5px;

  font-weight: 500;
  color: #000;
  background-color: rgb(246, 255, 168);
  text-decoration: none;

  transition: background-color 250ms linear;
}
.nav-seite__link:hover {
  background-color: rgb(255, 191, 107);
}
